<div class="user-form w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
    <div class="form-floating">
      <%= f.text_field :full_name, autofocus: true, placeholder: "Full name", class: "form-control top-field" %>
      <%= f.label :full_name %>
    </div>

    <div class="form-floating">
      <%= f.email_field :email, placeholder: "name@example.com", autocomplete: "email", class: "form-control middle-field" %>
      <%= f.label :email %>
    </div>

    <div class="form-floating">
      <%= f.password_field :password, placeholder: "Password", autocomplete: "new-password", class: "form-control bottom-field" %>
      <%= f.label :password %>
    </div>

    <%= f.submit "Sign Up", class: "btn btn-primary w-100 py-2" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
