<div class="user-form w-100 m-auto mt-5" data-controller="avatar-fields">
  <%= form_with model: current_user, url: user_path, method: :patch do |f| %>

    <h1 class="h3 mb-3 fw-normal">Profile</h1>

    <div class="flex-container mb-2">
      <% if current_user.avatar_image.present? %>
        <%= image_tag current_user.avatar_image, class: "rounded-circle ", style: "width: 150px;" %>
      <% else %>
        <%= render "shared/blank_avatar"%>
      <% end %>
      <div class="cursor-pointer" data-action="click->avatar-fields#toggleFields">
        <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z" />
        </svg>
      </div>
    </div>

    <div class="my-4 hidden" data-avatar-fields-target="fields">
      <div class="mb-3">
        <%= f.label :avatar_image, "Upload your avatar image from file:", class: "formFileSm" %>
        <%= f.file_field :avatar_image, accept: "image/png,image/jpg,image/jpeg", class: "form-control form-control-sm" %>
      </div>
      <%= f.label :avatar_url, "Or provide an image URL:" %>
      <%= f.text_field :avatar_url, placeholder: "https://example.com/avatar.jpg", class: "form-control form-control-sm" %>
    </div>

    <div class="form-floating">
      <%= f.text_field :full_name, value: current_user.full_name, autofocus: true, placeholder: "Full name", class: "form-control top-field" %>
      <%= f.label :full_name %>
    </div>

    <div class="form-floating mb-3">
      <%= f.email_field :email, value: current_user.email, placeholder: "name@example.com", autocomplete: "email", class: "form-control bottom-field" %>
      <%= f.label :email %>
    </div>

    <%= f.submit "Update", class: "btn btn-primary w-100 py-2" %>
  <% end %>

  <%= button_to "Delete profile", user_path, method: :delete, class: "btn btn-danger w-100 mt-2" %>
</div>
